.chapter-summary {
  th, td {
    width: 25%;
    padding: 0.5rem;
  }

  tr :first-child {
    text-align: right;
  }
}

.buttons {
  margin-top: 1rem;
}

.attendees {
  margin-bottom: 6rem;

  .who_do_you_want_to_meet {
    max-width: 300px;
  }
}

.resources {
  border-top: 1px solid darken($flat-silver, 20%);
  margin-top: 3rem;
}

.top-ruled {
  border-top: 1px solid darken($flat-silver, 20%);
  margin-top: 4rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
