/* Stick footer to bottom of page */
html, body {
  height: 100%;
}

body.arabic {
  p, li, h1, h2, h3 {
    text-align: right;
  }

  .arabic-left {
    text-align: left;
  }

  .arabic-centered {
    text-align: center;
  }

}

.wrap {
  min-height: 100%;
}

.ebttf {
  padding-bottom: $footer-height;
  overflow: auto;
}

@media (max-width: $mobile-breakpoint) {
  .ebttf {
    padding-bottom: $footer-height * 2;
  }
}

footer {
  height: $footer-height;
  position: relative;
  margin-top: $footer-height * -1;
}

@media (max-width: $mobile-breakpoint) {
  footer {
    height: $footer-height * 2;
    margin-top: $footer-height * -2;

    p, li {
      text-align: center;
    }
  }
}

body {
  color: $flat-ebony-clay;
  background-color: $flat-silver;
}

nav, footer {
  color: $flat-silver;
  padding-bottom: 1rem;
  margin-bottom: $nav-margin;
  background-color: $flat-lynch;

  p, li {
    color: darken($flat-silver, 20%);
  }

  a, a:visited, a:hover {
    color: $flat-silver;
    text-decoration: none;
  }

  a:hover {
    color: lighten($flat-silver, 20%);
  }

  h1 {
    margin-top: 0;
    font-size: 400%;
    padding-left: 1rem;
    display: inline-block;
  }

  p.links {
    padding: 1rem;
    display: inline-block;
    float: right;
    text-align: right;
  }

  @media (max-width: $mobile-breakpoint) {
    h1 {
      font-size: 300%;
      text-align: center;
      display: block;
    }

    p.links {
      display: block;
      float: none;
      text-align: center;
      padding-bottom: 0;
    }
  }
}

/* Visual styles for footer; see also the stickyness at top of the file */
footer {
  font-size: 90%;
  padding-top: 1rem;
  margin-bottom: 0;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-left: 0;
    }
  }
}

.banner {
  margin-top: $nav-margin * -1;
  padding: 1rem;

  h1 {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}

.more-info-required p {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Dosis', 'Helvetica Neue', sans-serif;
}

@media (max-width: $mobile-breakpoint) {
  h1, h2, h3 {
    text-align: center;
  }
}

.system.message {
  font-style: italic;
  color: $flat-edward;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

.info-label {
  display: inline-block;
  font-variant: small-caps;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;

  &.bg-success {
    border: 1px solid darken(#dff0d8, 33%);
  }

  &.bg-warning {
    border: 1px solid darken(#FCF8E3, 33%);
  }
}

.form-inline {
  display: inline-block;
  margin-right: 0.5rem;
}

