nav {
  color: $flat-silver;
  border-bottom: 3px solid $flat-shamrock;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  background-color: $flat-lynch;

  h1 {
    margin-top: 0;
    font-size: 400%;
    padding-left: 1rem;
  }
}

body {
  color: $flat-ebony-clay;
  background-color: $flat-silver;
}
