nav {
  color: $flat-silver;
  border-bottom: 3px solid $flat-shamrock;
  padding-bottom: 1rem;
  margin-bottom: $nav-margin;
  background-color: $flat-lynch;

  a, a:visited, a:hover {
    color: $flat-silver;
    text-decoration: none;
  }

  a:hover {
    color: lighten($flat-silver, 20%);
  }

  h1 {
    margin-top: 0;
    font-size: 400%;
    padding-left: 1rem;
    display: inline-block;
  }

  p.links {
    padding: 1rem;
    display: inline-block;
  }
}

body {
  color: $flat-ebony-clay;
  background-color: $flat-silver;
}

h1, h2, h3 {
  font-family: 'Dosis', 'Helvetica Neue', sans-serif;
}

.system.message {
  font-style: italic;
  color: $flat-edward;

  &:before {
    content: "[";
  }

  &:after {
    content: "]";
  }
}

.info-label {
  display: inline-block;
  font-variant: small-caps;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;

  &.bg-success {
    border: 1px solid darken(#dff0d8, 33%);
  }

  &.bg-warning {
    border: 1px solid darken(#FCF8E3, 33%);
  }
}

.form-inline {
  display: inline-block;
  margin-right: 0.5rem;
}
