$flat-silver: #eee;
$flat-ebony-clay: #22313F;
$flat-riptide: #A2DED0;
$flat-shamrock: #2ECC71;
$flat-lynch: #6C7A89;
$flat-edward: #ABB7B7;
$flat-wax-flower: #F1A9A0;
$flat-snuff: #DCC6E0;
$flat-aqua-island: #A2DED0;
$flat-cape-honey: #FDE3A7;

$nav-margin: 3rem;
